In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import array, explode

In [2]:
spark = SparkSession.builder.appName("CalcularMediana").getOrCreate()

In [3]:
csv_file_path = '/content/S12_Moda.csv'

In [4]:
df = spark.read.csv(csv_file_path, header=True, inferSchema=True, sep= ";")

In [5]:
# Función para calcular la mediana de una columna
def calcular_mediana(df, columna):
    # Contar el número de filas
    count = df.count()
    # Ordenar los valores de la columna
    sorted_df = df.select(columna).orderBy(columna)

    # Si el número de filas es impar, tomar el valor central
    if count % 2 == 1:
        mediana = sorted_df.collect()[count // 2][0]
    # Si es par, tomar el promedio de los dos valores centrales
    else:
        fila1 = sorted_df.collect()[count // 2 - 1][0]
        fila2 = sorted_df.collect()[count // 2][0]
        mediana = (fila1 + fila2) / 2
    return mediana

# Calcular la mediana para cada columna de notas
mediana_nota1 = calcular_mediana(df, "Nota1")
mediana_nota2 = calcular_mediana(df, "Nota2")
mediana_nota3 = calcular_mediana(df, "Nota3")

print(f"La mediana de Nota1 es: {mediana_nota1}")
print(f"La mediana de Nota2 es: {mediana_nota2}")
print(f"La mediana de Nota3 es: {mediana_nota3}")

La mediana de Nota1 es: 17
La mediana de Nota2 es: 16
La mediana de Nota3 es: 14

In [6]:
#Lista de notas de alumnos
df.show(7)

+-------+-----+-----+-----+
| Nombre|Nota1|Nota2|Nota3|
+-------+-----+-----+-----+
|  Cesar|   20|   17|   15|
|Gabriel|   17|   15|   14|
|   Luis|   10|   12|   14|
| Hector|   19|   16|   12|
|  Pablo|   20|   19|   14|
|  Samir|   15|   15|   17|
| Carlos|   12|  161|   19|
+-------+-----+-----+-----+