In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, explode, array

In [3]:
spark = SparkSession.builder.appName("CalcularModa").getOrCreate()

In [4]:
csv_file_path = '/content/S12_Moda.csv'

In [12]:
df = spark.read.csv(csv_file_path, header=True, inferSchema=True, sep= ";")

In [19]:
#Combinar todas las columnas de notas en un solo array y expandir a filas individuales
notas_df = df.select(explode(array( "Nota1", "Nota2", "Nota3")).alias("nota"))
#Calcular frecuencia de cada nota
moda_df =notas_df.groupBy("nota").count().orderBy(col("count").desc())
#Mostrar la moda
moda_valor = moda_df.first()
print(f"La moda es: {moda_valor['nota']} con una frecuencia de {moda_valor['count']}")

La moda es: 15 con una frecuencia de 4

In [13]:
df.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Nota1: integer (nullable = true)
 |-- Nota2: integer (nullable = true)
 |-- Nota3: integer (nullable = true)

In [20]:
df.show(7)

+-------+-----+-----+-----+
| Nombre|Nota1|Nota2|Nota3|
+-------+-----+-----+-----+
|  Cesar|   20|   17|   15|
|Gabriel|   17|   15|   14|
|   Luis|   10|   12|   14|
| Hector|   19|   16|   12|
|  Pablo|   20|   19|   14|
|  Samir|   15|   15|   17|
| Carlos|   12|  161|   19|
+-------+-----+-----+-----+